@font-face {
  font-family: "LeagueSpartan";
  src: url("../assets/fonts/LeagueSpartan-Medium.woff2") format("woff2"),
    url("../assets/fonts/LeagueSpartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LeagueSpartan";
  src: url("../assets/fonts/LeagueSpartan-Bold.woff2") format("woff2"),
    url("../assets/fonts/LeagueSpartan-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-size: 15px;
  font-weight: 500;
}

body {
  overflow-y: scroll;
}

main {
  min-height: 100vh;
  background-color: #f0fafb;
}

* {
  font-family: "LeagueSpartan", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

a {
  color: #0070f3;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}